
@font-face{
  font-family: 'metaOldFrench';
  src: url('../fonts/Meta-old-French.woff2') format('woff2'), url('../fonts/Meta-old-French.otf') format('otf');
}


:root{
  --font-size: 1.75rem;
}

body {
  font-family: 'metaOldFrench';
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 1.15em;
  margin: 0.75vw 1vw;
  font-variant-ligatures: additional-ligatures;
}

#content {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

a:hover{
	text-decoration: none;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p{
  margin: 0;
  padding: 0;
  hyphens: auto;
}

div{
  grid-column: 1/14;
  line-height: 1.07em;
}

div p{
  margin-top: 0px;
}

div p:not(div p:nth-child(1)),
ul li{
  text-indent: 4vw;
}

@media all and (max-width: 1500px) {
  div{
    grid-column: 1/18;
  }
}

@media all and (max-width: 1000px) {
  body{
    margin: 0.75vw 1.5vw;
  }
  div{
    grid-column: 1/21;
  }
}

@media all and (max-width: 800px) {
  div{
    grid-column: 1/23;
  }
  div p:not(div p:nth-child(1)),
  ul li{
    text-indent: 8vw;
  }
}

@media all and (max-width: 700px) {
  body{
    margin: 0.75vw 2vw;
    font-size: calc(var(--font-size)/1.1);
  }
  div{
    grid-column: 1/24;
  }
}
