@font-face {
  font-family: "metaOldFrench-regular";
  src: url("../fonts/meta-old-french-regular.otf");
}

@font-face {
  font-family: "metaOldFrench-bold";
  src: url("../fonts/meta-old-french-bold.otf");
}

@font-face {
  font-family: "metaOldFrench_incisive";
  src: url("../fonts/meta-old-french-incisive.otf");
}

@font-face {
  font-family: "metaOldFrench_links";
  src: url("../fonts/meta-old-french-links.otf");
}

@font-face {
  font-family: "metaOldFrench_poem";
  src: url("../fonts/meta-old-french-poem.otf");
}

@font-face {
  font-family: "metaOldFrench_mono";
  src: url("../fonts/meta-old-french-mono.otf");
}
