@import "fontes.css";

:root {
  --unit: 16px;
}

::selection {
  background: #458;
  color: white;
}

html {
  font-size: calc(var(--unit) * 2);
}

body {
  font-family: "metaOldFrench-regular";
  font-size: 1rem;
  line-height: 1.1rem;
  margin: var(--unit);
}


/* GLOBAL */

h1,
h2,
h3 {
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: normal;
  font-family: "metaOldFrench-bold";
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-indent: calc(var(--unit) * 3);
  margin-top: var(--unit);
}

h4 {
  font-size: 6rem;
  line-height: 6.1rem;
  font-weight: normal;
  font-family: "metaOldFrench-regular";
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-indent: 0;
  margin-top: var(--unit);
}

.content > p {
  text-indent: calc(var(--unit) * 3);
  margin: 0;
  padding: 0;
}

.content > p:nth-child(1),
.content > h1 + p,
.content > h2 + p,
.content > h3 + p,
.content > h4 + p,
.content > .poem + p,
.content > div + p,
.content > a + p,
.content > ul + p,
.content > pre + p,
.content > code + p,
.content >  blockquote > p,
.content > ul li,
.hljs-keyword, .hljs-literal, .hljs-selector-tag, .hljs-subst{
  text-indent: 0;
}

.content >  blockquote > p,
.content >  blockquote {
  margin: 0;
  padding: 0;
}

strong {
  font-family: "metaOldFrench-bold";
  font-weight: normal;
}

img {
  margin: var(--unit) 0;
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  line-height: 75%;
  color: #954121;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  cursor: s-resize;
}

a:hover:after {
  content: " \1f86e";
}

a[target="_blank"] {
  text-decoration-style: solid;
}

a[target="_blank"]:hover::after {
  content: " \1f865";
}

ul,
ul li {
  margin: 0;
  padding: 0;
}

ul li {
  padding-left: calc(var(--unit) * 4);
  list-style: none;
}

ul li:before {
  content: "\2192";
  font-family: "metaOldFrench_links";
  position: absolute;
  margin-left: calc(var(--unit) * -2);
}

code > span:nth-child(1) {
  margin-left: -64px;
}


/* content */

section {
  width: calc(var(--unit) * 80);
  max-width: 80vw;
  padding-left: calc(var(--unit) * 1);
  background-color: white;
  color: #458;
}

section.focus {
  box-shadow: 10px 10px 35px -15px #64855d;
  background: white;
  color: black;
}

#breadcrumb li.focus a {
  background-color: #219161;
  color: white;
}


a + section {
  padding: calc(var(--unit) * 1);
  margin-left: 0;
  border-left: 1px dotted;
  margin-left: calc(var(--unit) * 3 - 1px);
  color: #458;
  box-shadow: 10px 10px 30px lightgray;
}

section pre code.hljs {
  padding: var(--unit);
}


/* NAV */

nav li:hover {
  text-decoration: underline;
}

#breadcrumb {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  width: calc(var(--unit) * 15);
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: .75rem;
  line-height: 105%;
  font-family: 'metaOldFrench_links';
}

#breadcrumb:hover {
  width: auto;
}

#breadcrumb li + ul {
  margin-left: calc(var(--unit) * 1);
}

#breadcrumb li a {
  white-space: nowrap;
  background-color: #f8f8ff;
  color: #219161;
  padding: 0 4px;
}
#breadcrumb li a:hover {
  background-color: #219161;
  color: #f8f8ff;
}

/* Footer  */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: var(--unit);
  width: calc(var(--unit) * 15);
  font-size: .75rem;
  line-height: 105%;
  font-family: 'metaOldFrench-regular';
  z-index: 5;
}


footer h1{
  font-size: .75rem;
  font-family: 'metaOldFrench_links';
  text-align: right;
  text-transform: lowercase;
  cursor: pointer;
}

footer h1:hover{
  text-decoration: underline;
}


footer .textInfo{
  display: none;
  position: fixed;
  padding: var(--unit);
  width: calc(var(--unit) * 40);
  bottom: calc(var(--unit) * 3);
  right: calc(var(--unit) * 2);
  box-shadow: 10px 10px 30px lightgray;
}

footer .textInfo.visible{
  display: block;
}



/* Fonts */

a,
nav {
  font-family: "metaOldFrench_links";
  cursor: pointer;
}

.content > blockquote {
  font-family: "metaOldFrench_poem";
  margin-left: calc(var(--unit) * 3);
}

cite,
em {
  font-family: "metaOldFrench_incisive";
  font-style: normal;
}

code,
pre {
  font-family: "metaOldFrench_mono";
}

/* Responsive */

@media only screen and (max-width: 1200px) {
  html {
    font-size: calc(var(--unit) * 4);
  }

  section {
    /* width: calc(var(--unit) * 100); */
    max-width: 90vw;
    /* padding-left: var(--unit); */
  }

  nav{
    display: none;
  }
}
