
@font-face {
  font-family: "metaOldFrench";
  src: url("fonts/Meta-old-French.woff2") format("woff2"),
    url("fonts/Meta-old-French.otf") format("otf");
}

@font-face {
  font-family: "metaOldFrench_italic";
  src: url("fonts/Meta-old-French_italic.woff2") format("woff2"),
    url("fonts/Meta-old-French_italic.otf") format("otf");
}

@font-face {
  font-family: "metaOldFrench_bold";
  src: url("fonts/Meta-old-French_bold.woff2") format("woff2"),
    url("fonts/Meta-old-French_bold.otf") format("otf");
}

@font-face {
  font-family: "metaOldFrench_code";
  src: url("fonts/Meta-old-French_code.woff2") format("woff2"),
    url("fonts/Meta-old-French_code.otf") format("otf");
}

@font-face {
  font-family: "metaOldFrench_extract";
  src: url("fonts/Meta-old-French_extract.woff2") format("woff2"),
    url("fonts/Meta-old-French_extract.otf") format("otf");
}

@font-face {
  font-family: "metaOldFrench_title";
  src: url("fonts/Meta-old-French_title.woff2") format("woff2"),
    url("fonts/Meta-old-French_title.otf") format("otf");
}

@font-face {
  font-family: "metaOldFrench_legend";
  src: url("fonts/Meta-old-French_legend.woff2") format("woff2"),
    url("fonts/Meta-old-French_legend.otf") format("otf");
}

@font-face {
  font-family: "metaOldFrench_poem";
  src: url("fonts/Meta-old-French_poem.woff2") format("woff2"),
    url("fonts/Meta-old-French_poem.otf") format("otf");
}


@font-face {
  font-family: "metaOldFrench_citation";
  src: url("fonts/Meta-old-French_citation.woff2") format("woff2"),
    url("fonts/Meta-old-French_citation.otf") format("otf");
}
