@import "variables.less";
@import "fontes.less";

html{
  width: 200vw;

}
body {
  font-family: "metaOldFrench";
  font-size: @font-size;
  line-height: 1.15em;
  margin: 0.75vw 2vw;
  display: inline-flex;
  height: 98vh;
}

// Grid

#grid:before {
  content: "▥";
  position: fixed;
  z-index: 15;
  right: 10px;
  cursor: pointer;
}

#grid .grid {
  background-image: url("img/grille.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  left: 20px;
  pointer-events: none;
  display: none;
}

#grid .grid.visible {
  display: initial;
}

// Page layout

#breadcrumb {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid;
  background: white;
  z-index: 2;
  max-height: 5vw;
  overflow-y: auto;
  font-size: 0.85rem;
  line-height: 1rem;
}

#mw-wrapper {
  position: relative;
  float: left;
  padding: @unit;
  padding-right: 0;
  max-width: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-y: auto;
  width: @column-width * 2 + @unit * 1;
  scrollbar-width: none;
}

#mw-wrapper.focus {
  width: @column-width * 4 + @unit * 3;
}


a + #mw-wrapper:not(#mw-wrapper.anchor) {
  margin-left: @unit * 2;
  padding: 0;
}

body.action-edit .mw-body,
body.mw-editable .oo-ui-toolbar {
  width: @column-width * 4 + @unit * 3;
  font-size: 1rem;
}

.ve-ui-linearContextItem,
.oo-ui-toolbar,
.oo-ui-dialog-content {
  font-size: 0.75rem;
}

#mw-wrapper.anchor .mw-body,
#mw-wrapper.focus .mw-body,
#mw-wrapper .mw-body:hover {
  color: black;
}

body #mw-wrapper.focus:not(body.ns-special #mw-wrapper.focus) {
  font-size: 1.75rem;
  line-height: 1.8rem;
}

.mw-body {
  position: relative;
  word-wrap: break-word;
  background: white;
  // padding: 0 @unit;
}

.mw-body .mw-body {
  padding-left: @unit;
}

#contentSub,
#contentSub2 {
  margin: 0 !important;
}

// Content style

.firstHeading {
  margin-top: 0;
  display: none;
}

a{
  color: black !important;
  font-weight: bold;
  // transform: scaleX(0.8) translateY(-3px);
  // display: inline-block;
}

em,
i {
  font-style: normal;
  font-family: "metaOldFrench_italic", "metaoldFrench";
}

strong,
b {
  font-weight: normal;
  font-family: "metaOldFrench_bold", "metaoldFrench";
}

code {
  font-family: "metaOldFrench_code", monospace, "metaoldFrench";
}

blockquote {
  font-family: "metaOldFrench_extract", "metaoldFrench";
}

h2,
h3,
h4 {
  font-size: 2rem !important;
  text-transform: uppercase;
  font-family: "metaOldFrench_title", "metaoldFrench";
}

h2 {
  border-bottom: none !important;
  text-align: center;
}
h4 {
  text-transform: initial;
}

q{
  font-family: "metaOldFrench_citation", "metaOldFrench";
}

.poem {
  margin: @unit 0;
  margin-left: @column-width + @unit;
  font-family: "metaOldFrench_poem", "metaOldFrench";
}

p {
  text-indent: @unit * 2;
  margin: 0 !important;
  padding: 0 !important;
}

p:nth-child(1),
h2 + p,
h3 + p,
h4 + p,
.poem + p,
div + p,
a + p,
ul + p,
code + p
blockquote + p {
  text-indent: 0;
}

a.image {
  display: block;
  margin: @unit (@unit * 4);
}

img + div {
  font-size: 1rem;
  font-family: "metaOldFrench_legend", "metaOldFrench";
}

img,
p img {
  margin: 0 !important;
  display: block;
  max-width: 100%;
  height: auto;
}

.mw-body ul {
  margin: 0 !important;
}

.mw-body ul li {
  margin: 0;
  margin-left: @unit * 2;
  list-style-type: "> ";
  list-style-position: outside;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}

.center,
.center * {
  margin: auto;
  text-align: center;
}

// Admin stuff

.mw-editsection {
  vertical-align: super;
  font-size: 0.75rem;
  margin-left: 5px;
  text-transform: lowercase;
}

.mw-indicators {
  float: right;
  margin: 1.5em 0 0 1em;
}

.mw-footer,
#page-tools,
#p-personal {
  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    padding-right: 1em;
    display: inline-block;
  }
}

#page-tools .mw-portlet {
  display: inline-block;
}

#mw-body #mw-body #page-tools li {
  padding-right: 0;
  margin-left: 0;
}

body > #mw-wrapper > #mw-navigation {
  border: 1px solid;
}

#mw-navigation {
  padding: 0px @unit;
  line-height: 1rem;
  font-size: 0.85rem;
  background: white;
}

body > #mw-wrapper > #mw-navigation {
  position: fixed;
  background: white;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 10;
}

body > #mw-wrapper > #mw-navigation:before {
  content: "Navigation";
  display: block;
  padding-bottom: 2px;
  cursor: s-resize;
}

body > #mw-wrapper > #mw-navigation div {
  display: none;
}

body > #mw-wrapper > #mw-navigation:hover div {
  display: inline;
}

body #mw-wrapper #mw-wrapper #mw-navigation {
  #p-search,
  #user-tools,
  #site-navigation,
  #ca-nstab-main,
  #ca-talk,
  #ca-protect,
  #ca-unwatch {
    display: none;
  }
}

// Footer

.mw-footer {
  clear: both;
  border-top: 1px solid @border;

  ul {
    margin-top: 1em;
  }
}

#footer-icons {
  float: right;
  margin: 0 0 1em 1em;
}

// hidden stuff

#page-tools h3,
#p-search h3,
#p-personal h3 {
  .hidden;
}
