// Uncomment to use MediaWiki-supplied mixins
// @import "mediawiki.mixins";



@width: 66em;
@border: #ccc;
@font-size: 20px;
@column-width: 200px;
@unit: 20px;

// To hide objects, but keep them accessible for screen-readers
.hidden() {
	position: absolute;
	top: -9999px;
}
