body{
    
}

article{
  width: 800px;
  /* outline: 2px solid darkblue; */
  padding: 10px;
}

article:not(#a1){
  display: none;
}

article>article{
  padding-left: 40px;
  border-left: 1px dashed;
}
#a1{
  background-color: #d8e2dc;
}

#a2{
  background-color: #ffe5d9;
}

#a3{
  background-color: #ffcad4;
}

#a4{
  background-color: #f4acb7;
}

#a5{
  background-color: #9d8189;
}

#a6{
  background-color: #f0efeb;
}

article article#a1.show,
article article#a2.show,
article article#a3.show,
article article#a4.show,
article article#a5.show,
article article#a6.show {
  display: block;
}